<h1>Dragon Ball Z</h1>
<hr />

<section class="row">
  <section class="col">
    <app-personajes
    [personajes]="personajes"
    />
  </section>

  <section class="col">
    <h3>Agregar</h3>
    <hr />

    <form (ngSubmit)="agregar()">
      <input
        type="text"
        placeholder="Nombre"
        name="nombre"
        [(ngModel)]="nuevo.nombre"

         />

      <!--   [value]="nuevo.nombre"
        (input)="cambiarNombre( $event )" -->

      <input
      type="text"
      placeholder="Poder"
      name="poder"
      [(ngModel)] = "nuevo.poder"
      />

      <button type="submit">agregar</button>
    </form>
  </section>
</section>
